# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pr: none

schedules:
- cron: "0 0 * * *"
  displayName: Daily Build
  branches:
    include:
    - telemetry
  always: true

pool: sonic-mirror-build

stages:
- stage: publish
  jobs:
  - job: publish
    steps:
    - script: |
        mkdir -p azcopy
        pushd azcopy
        wget -O azcopy_v10.tar.gz https://aka.ms/downloadazcopy-v10-linux && tar -xf azcopy_v10.tar.gz --strip-components=1
        popd
        export AZCOPY_LOG_LOCATION=$(pwd)/azcopy
        PUBLISH_PLATFORM_URL="https://$(SONIC_STORAGE_ACCOUNT).blob.core.windows.net/azp-telemetry/pipelines/$(Build.DefinitionName)/$(Build.SourceBranchName)/$BUILD_NAME"
        PUBLISH_URL="$PUBLISH_PLATFORM_URL/$(Build.BuildId)$StorageSASKey"
        azcopy/azcopy copy target "$PUBLISH_PLATFORM_URL/$(Build.BuildId)$StorageSASKey" --recursive=true --put-md5
        touch prev_build
        azcopy/azcopy copy "$PUBLISH_PLATFORM_URL/latest_build$StorageSASKey" latest_build || true
        [ -f latest_build ] && mv latest_build prev_build
        echo $(Build.BuildId) > latest_build
        azcopy/azcopy copy latest_build "$PUBLISH_PLATFORM_URL/latest_build$StorageSASKey"  --put-md5
        azcopy/azcopy copy prev_build "$PUBLISH_PLATFORM_URL/prev_build$StorageSASKey"  --put-md5
      env:
        StorageSASKey: $(StorageSASKey)
    - script: |
        echo "test2"
      displayName: publish
