# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pr: none

schedules:
- cron: "0 * * * *"
  displayName: Hourly Build
  branches:
    include:
    - telemetry
  always: true

pool: sonic-mirror-build

stages:
- stage: publish
  jobs:
  - job: publish
    steps:
    - script: |
        mkdir -p azcopy
        pushd azcopy
        wget -O azcopy_v10.tar.gz https://aka.ms/downloadazcopy-v10-linux && tar -xf azcopy_v10.tar.gz --strip-components=1
        popd
        export AZCOPY_LOG_LOCATION=$(pwd)/azcopy
        ROOT_URL="https://$(SONIC_STORAGE_ACCOUNT).blob.core.windows.net/azp-telemetry/pipelines"
        azcopy/azcopy copy "$ROOT_URL/version$StorageSASKey" version || true
        STARTTIME=$(date -u --date="7 day ago" +"%Y-%m-%dT%H:%M:%S")
        ENDTIME=$(date -u +"%Y-%m-%dT%H:%M:%S")
        [ -f version ] && STARTTIME=$(cat version)
        python3 azure-pipelines/scripts/telemetry/publish.py -s "$STARTTIME" -e "$ENDTIME"
        exit 1
        azcopy/azcopy copy pipelines "$ROOT_URL/$(Build.BuildId)$StorageSASKey" --recursive=true --put-md5
        echo $ENDTIME > version
        azcopy/azcopy copy version "$ROOT_URL/version$StorageSASKey"  --put-md5
      env:
        StorageSASKey: $(StorageSASKey)
      displayName: publish
